{% extends 'base.html' %}

{% block title %}This is my contact page{% endblock %}

{% block content %}
<div class="pdf-container" width="100%" height="1500px" style="margin-top: 20px;">
    <iframe src="/static/docs/resume_VHTT.pdf#toolbar=0" class="pdf-viewer" frameborder="0" width="100%" height="1500px" style="border: none;">
        This browser does not support PDFs. Please download the PDF to view it: 
        <a href="/static/docs/resume_VHTT.pdf#toolbar=0">Download PDF</a>
    </iframe>
</div>

{% endblock %}